/* News Feed */
.news-feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-feed-item {
  width: 85%;
  border: 1px solid rgb(192, 192, 192);
  padding: 30px;
  border-radius: 15px;
}

.news-feed-item-content {
  white-space: pre-wrap; /* or 'pre-line' depending on your needs */
}


/* Status Bar */
.news-feed-item .status-bar .profile-img {
  max-width: 50px !important;
  margin-right: 20px !important;
}

.status-bar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

/* Controls */
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.control-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px;
  padding-left: 0;
}

p.control-item-label {
  margin: 0;
  font-size: 15px;
}
