.post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 85%;
  padding: 30px;
  margin-left: 30px;
}

.avatar-container {
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post-textarea {
  flex-grow: 1;
  resize: none;
  overflow: auto;
  border: none;
  outline: none;
  border: 1px solid rgb(185, 185, 185);
}

.search-bar-row {
  display: flex;
  flex-direction: row;
}
