.PostProjectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2D4877;
  padding-bottom: 5%;
}

.header{
    width: 62%;
    display: flex;
    padding-top: 5%;
}
.BackButton {
    margin-top: 4%;
  margin-right: 30%;
  text-decoration: none;
  font-size: 24px;
  color: #2D4877;
}

.FormContainer {
  width: 62%;
  margin-top: 20px;
  padding: 2%;
  border: 1px solid #2D4877;
  border-radius: 10px;
}

.ProjectForm {
  display: flex;
  flex-direction: column;
}

.FormRow {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  color: grey; 
}

.SkillsContainer button{
    width: 10%;
    padding: 5px;
    margin-top: 2px;
    background-color: #2D4877;
    color: #fdfaf3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deadline {
    margin-left: 2%;
}

textarea {
  height: 100px;
}

.SubmitButton {
  width: 30%;
  padding: 10px;
  margin-left: 35%;
  background-color: #2D4877;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SubmitButton:hover {
  background-color: #0056b3;
}
