.ReviewProjectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  padding-top: 5%;
  overflow-x: hidden; /* Prevent page scrolling */
}

.Reviewheader {
  width: 65%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.BackButton {
  text-decoration: none;
  color: #2d4877;
  margin-right: 18%;
  margin-bottom: 2%;
  font-size: 24px;
}

.InProgressList,
.CompletedProjectList {
  display: flex;
  overflow-x: auto;
  justify-content: left;
  width: 68vw; /* Adjust as needed */
  margin: 0 auto 40px;
  border-radius: 10px;
  padding: 0 20px; /* Add padding to avoid sticking to edges */
}

.InProgressProjectTab,
.CompletedProjectTab {
  flex: 0 0 auto;
  width: 300px; /* Fixed width for each tab */
  margin-right: 20px; /* Adjust spacing between tabs */
}

/* Hide the scrollbar */
.InProgressList::-webkit-scrollbar,
.CompletedProjectList::-webkit-scrollbar {
  display: none;
}
