.background {
  background-image: url("../../assets/images/Payment/Background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  min-height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.App-header {
  background-image: url("../../assets/images/Payment/Background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Lato", sans-serif;
}

.App-link {
  color: #61dafb;
}

.loader-wenhao-successful {
  width: 124px;
  height: 24px;
  -webkit-mask: 
    conic-gradient(from 135deg at top   ,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 0   ,
    conic-gradient(from -45deg at bottom,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 100%;
  -webkit-mask-size:25% 50%;
  -webkit-mask-repeat:repeat-x;
  background: linear-gradient(#25b09b 0 0) left/0% 100% no-repeat #ddd;
  animation: l13 2s infinite linear;
}
@keyframes l13 {
  100% {background-size: 100% 100%}
}

.choose-payment-method {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.choose-payment-method:hover {
  cursor: pointer;
  color: #2d4777;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  transform: scale(1.03);
}

.split-container {
  display: flex;
  justify-content: space-between;
}

.table-header-wenhao {
  display: flex;
  justify-content: space-between;
  padding: 0.5vh;
  border: none;
}

.header-item-wenhao {
  flex: 1;
  text-align: center;
  margin-right: 7vh;
  margin-top: 4vh;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.card-wenhao {
  background-color: rgba(152, 149, 149, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  height: 80vh;
  margin-top: 2vh;
  padding-top: 5vh;
  padding-left: 7vh;
  padding-right: 7vh;
}

.INV-title-name {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  padding-left: 2vh;
  color: #2d4777;
  font-weight: bold;
}
.titleCVV {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-left: -70px;
  font-size: 20px;
}

.LeftContainerr {
  display: inline-block;
  margin-right: 20px;
  margin-left: 47px;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  margin-top: 15px;
  display: inline-flex;
  align-items: center; 
}

.RightContainer {
  background-color: #2d4777;
  border-radius: 50px;
  height: 540px;
  margin-top: 30px;
  margin-right: 70px;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 20px;
  margin-bottom: 8px;
}

.titleLinked {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 55px;
  font-size: 20px;
  margin-bottom: 8px;
}

.PaymentBigtitle {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 35px;
  margin-bottom: 30px;
}

.titleRight {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}

.lineRight {
  width: 500px;
  margin-left: 30px;
  margin-right: 30px;
}

.lineRightBox {
  width: 500px;
  margin-left: 30px;
  margin-right: 30px;
  color: #fff;
}

.line {
  width: 600px;
  margin-left: 50px;
}

.cardNo-inputCTN {
  margin-left: 55px;
  border-radius: 8px;
  padding-left: 10px;
  height: 35px;
  max-width: 82%;
  border: #2d4777 solid 2px;
  font-family: "Lato", sans-serif;
}

.inputCTN1 {
  margin-left: 55px;
  border-radius: 8px;
  padding-left: 10px;
  height: 35px;
  max-width: 40.5%;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
}

.inputCTN2 {
  margin-left: 55px;
  border-radius: 8px;
  padding-left: 10px;
  height: 35px;
  max-width: 37.5%;
  margin-top: 5px;
  font-family: "Lato", sans-serif;
  border: #2d4777 solid 2px;
}

.discountt {
  margin-left: 40px;
  border-radius: 8px;
  padding-left: 10px;
  height: 40px;
  width: 10px;
  border: none;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
  border: #2d4777 solid 2px;
}
.buttonApply {
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  font-family: "Lato", sans-serif;
}

.buttonApply:hover {
  cursor: pointer;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-family: "Lato", sans-serif;
}

.buttonPay {
  margin-top: 40px;
  margin-left: 55px;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 550px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  color: #2d4777;
  font-weight: bolder;
  font-size: 20px;
  border: #2d4777 solid 2px;
  transition: transform 0.3s ease;
}

.buttonPay:hover {
  margin-top: 40px;
  margin-left: 55px;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  width: 550px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  color: #fff;
  background-color: #2d4777;
  font-weight: bold;
  border: #fff solid 2px;
  font-size: 20px;
  transform: scale(1.05);
}

.reminder {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  margin-left: 55px;
  margin-top: 40px;
  color: gray;
}

.ewallet {
  width: 250px;
  margin-left: 50px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  appearance: none;
  outline: none;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}

.ewallet option:first-child {
  color: #aaa;
}

.ewallet option {
  color: #333;
  padding-top: 40px;
}

.ewallet:hover,
.ewallet:focus {
  border: 2px solid #2d4777;
  width: 250px;
  margin-left: 50px;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  appearance: none;
  outline: none;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  margin-bottom: -1.2px;
}

.selectedEwallet {
  margin-left: 50px;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
}

.App-header .redirect {
  color: black;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.cardSuccessful {
  background-color: #2d4777;
  padding: 20px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  margin-top: -40px;
  align-items: center;
}

.invoice-list-containerner {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.invoice-containerner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invoice-listlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .invoice-listing{

} */

.successMsg {
  font-family: "Lato", sans-serif;
  margin-top: 5px;
  font-size: 25px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  animation: bounce 2s infinite;
}

.tick {
  width: 150px;
  height: 140px;
  margin-top: 50px;
  margin-left: 160px;
  margin-bottom: -20px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.buttonSuccessful {
  margin-top: 20px;
  margin-left: 80px;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  color: #2d4777;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: white;
  transition: transform 0.3s ease;
}

.buttonSuccessful:hover {
  margin-top: 20px;
  margin-left: 80px;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  width: 300px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  color: #000;
  background-color: #fcfcff79;
  border: none;
  font-weight: bold;
  font-size: 16px;
  transform: scale(1.07);
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.cardContainer-desc-price {
  display: flex;
  justify-content: space-between;
  margin-left: 9vh;
  margin-top: 5vh;
}

.picFpx {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.picEwallet {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  margin-left: -40px;
  cursor: pointer;
}

.picCard {
  width: 70px;
  height: 25px;
  margin-left: -40px;
  margin-right: 8px;
  cursor: pointer;
}

.fpxWord {
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.cardWord {
  padding-top: 43px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.cardEwallet {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.parallel {
  display: flex;
  justify-content: space-between;
}

.another {
  cursor: pointer;
  margin-left: 40px;
  text-decoration: underline;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.another:hover {
  color: #2d4777;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.another1 {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  text-align: center;
  color: #2d4777;
  margin-top: 30px;
  font-family: "Lato", sans-serif;
}

.another1:hover {
  color: #2d4777;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.pic-Container {
  display: flex;
  justify-content: space-between;
}

.fpxTitle {
  color: black;
  font-family: "Lato", sans-serif;
  margin-top: 3px;
  font-weight: bold;
}

.cardFPX {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 330px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 30px;
}

.redirect {
  color: black;
  text-align: center;
  font-size: 30px;
  margin-top: 300px;
  animation: bounce 1s infinite;
}

.mobile {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 20px;
}

.pin {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 20px;
}

.mobileinput {
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  font-family: "Lato", sans-serif;
  width: 200px;
  text-align: center;
  margin-left: -110px;
  margin-top: -20px;
  border-color: #2d4777;
}

.pininput {
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  font-family: "Lato", sans-serif;
  width: 200px;
  text-align: center;
  margin-left: -100px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-color: #2d4777;
}
.titleLink {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.photo {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 100px;
  cursor: pointer;
  margin-top: 60px;
}

.cardinput {
  border-radius: 6px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  width: 60%;
  margin: 10px 0;
  border-color: #2d4777;
  box-sizing: border-box;
}

.cardinput1 {
  border-radius: 6px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  width: 60%;
  margin: 10px 0;
  border-color: #2d4777;
  box-sizing: border-box;
  margin-left: 55px;
}

.cardinput2 {
  border-radius: 6px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  width: 60%;
  margin: 10px 0;
  border-color: #2d4777;
  box-sizing: border-box;
  margin-left: 40px;
}

.cardinput3 {
  border-radius: 6px;
  padding: 10px; 
  font-family: "Lato", sans-serif;
  width: 60%; 
  margin: 10px 0;
  border-color: #2d4777;
  box-sizing: border-box;
  margin-left: 10px;
}

.cardinput4 {
  border-radius: 6px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  width: 60%;
  margin: 10px 0;
  border-color: #2d4777;
  box-sizing: border-box;
  margin-left: 70px;
}

.cardCard {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
}

.cardVar {
  color: #2d4777;
  margin-right: 100px;
  font-size: 17px;
  font-weight: bold;
}

.button1 {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  margin-top: 50px;
  width: 250px;
}

.button1:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2d4777;
  color: #fff;
  border-color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  width: 250px;
}

.button2 {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 300px;
}

.button2:hover {
  border: white 1px solid;
  font-size: 16px;
  background-color: #2d4777;
  color: #fff;
  border-color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.button3 {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-left: 50px;
  margin-top: 300px;
}

.button3:hover {
  border: white 1px solid;
  font-size: 16px;
  background-color: #2d4777;
  color: #fff;
  border-color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.button4-CTN {
  text-align: center;
  margin-top: 50px;
}

.cardInvoiceList {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
}

.invoiceTitle {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: bold;
  padding-left: 280px;
  padding-right: 480px;
  font-size: 22px;
  margin-left: 30vh;
}

.invoiceTitle2 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: bold;
  padding-left: 200px;
  padding-right: 348px;
  font-size: 22px;
}

.invoiceDesc {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.invoiceDesc-long-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: #2d4777;
}

.invoiceDesc-long-bar p {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  color: black;
  padding: 0 12vh;
}

.invoiceDesc-long-bar p span {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #2d4777;
  font-size: 22px;
  padding: 0 2vh;
}

.invoiceDesc2 {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  color: #2d4777;
}

.invoiceDesc2 p {
  margin: 0;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  color: black;
}

.invoiceDesc2 p span {
  font-weight: bold;
  margin-left: 5px;
  font-family: "Lato", sans-serif;
  color: #2d4777;
  font-size: 22px;
}

.descColumn {
  width: 1100px;
  font-family: "Lato", sans-serif;
  color: #2d4777;
  font-size: 22px;
  padding-left: 38px;
}
.priceColumn {
  width: 300px;
  font-family: "Lato", sans-serif;
  color: #2d4777;
  font-size: 22px;
  padding-left: -80px;
}

.descContent {
  font-family: "Lato", sans-serif;
  width: 300px;
  padding-left: 40px;
  margin-top: 45px;
  margin-bottom: 45px;
  color: #fff;
  display: flex;
  align-items: center;
}

.taskName {
  min-width: 370px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.taskPrice {
  flex-grow: 1;
  color: #fff;
  flex-shrink: 0;
  font-size: 18px;
}

.taskDesc {
  flex-grow: 1;
  color: #fff;
  flex-shrink: 0;
  font-size: 18px;
}

.BackBtn{
  margin-top: 3vh;
}

.BackBtn-In-Successful {
  margin-top: -15px;
  margin-left: -10px;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.BackBtn-In-Successful:hover {
  margin-top: -15px;
  margin-left: -10px;
  background: none;
  border: none;
  transform: scale(1.05);
}

.BackBtn-In-PayHis {
  margin-top: 30px;
  color: #000;
  margin-left: -150vh;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.BackBtn-In-PayHis:hover {
  color: #000;
  background: none;
  border: none;
  transform: scale(1.05);
}


.INV {
  font-family: "Lato", sans-serif;
  width: 1100px;
  height: 80px;
  padding: 20px;
  margin: 25px 0; 
  color: #fff;
  background-color: #2d4777;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: -5px;
}

.INV:hover {
  font-family: "Lato", sans-serif;
  width: 1100px;
  height: 80px;
  padding: 20px; 
  margin: 25px 0; 
  color: #fff;
  background-color: #2d4777;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 10px 7px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  margin-bottom: -5px;
}

.INV p {
  margin: 0;
  padding-left: 110px;
  
}

.INVName {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: auto;
  font-size: 15px;
}

.INVPrice {
  width: calc(33.333% - 50px);
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  margin-left: auto;
}

.INVDesc {
  width: calc(1.333% - 50px);
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  margin-left: 90px;
}

.priceContent {
  font-family: "Lato", sans-serif;
  color: #fff;
  width: 120px;
  margin-left: 100px;
  font-weight: bold;
}

.back {
  padding-top: 30px;
  padding-left: 30px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.cardPendingPayment {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
  margin: 0 auto;
  border: none;
  margin-left: 26.5vh;
  margin-top: 50px;
  font-family: "Lato", sans-serif;
}

.paymentHistory {
  padding-top: 50px;
  margin-bottom: 3vh;
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

.pendingTitle {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #2d4777;
  margin-top: -2px;
}

.pendingDesc {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #2d4777;
}

.pendingPrice {
  font-family: "Lato", sans-serif;
  color: #2d4777;
  font-weight: bolder;
}

.buttonDown {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 150px;
  margin-top: 5vh;
  margin-bottom: 50px;
  transition: transform 0.3s ease;
}

.buttonDown:hover {
  border: white 1px solid;
  font-size: 15px;
  background-color: #2d4777;
  color: #fff;
  border-color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  width: 150px;
  transform: scale(1.07);
}

.buttonView {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 232px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.buttonView:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2d4777;
  color: #fff;
  border-color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  width: 270px;
}

.invoiceHolder {
  margin-top: 30px;
  margin-left: 15vh;
  background-color: #2d4777;
  font-family: "Lato", sans-serif;
  width: 600px;
  height: 280px;
  border-radius: 40px;
  padding-left: 40px;
  padding-top: 30px;
  font-size: 20px;
  color: #fff;
}

.invoiceHolder span {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.invoiceDetails {
  width: 530px;
  height: 282px;
  background-color: #2d4777;
  border-radius: 40px;
  padding-left: 40px;
  padding-top: 30px;
  color: #fff;
  font-family: "Lato", sans-serif;
  margin-right: 130px;
  margin-top: 28px;
}

.invoiceAmount {
  color: black;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -10px;
  margin-top: -13px;
  width: 260px;
  height: 130px;
  font-family: "Lato", sans-serif;
}

.Amount {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1px;
  margin-bottom: 25px;
}

.Amount span {
  font-family: "Lato", sans-serif;
  color: #2d4777;
  font-size: 35px;
}

.date {
  margin-top: -21px;
  font-size: 12px;
}

.Invoicename {
  margin-top: -10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.location {
  font-family: "Lato", sans-serif;
  margin-top: -10px;
}

.invoiceWord {
  font-family: "Lato", sans-serif;
  margin-top: 10px;
}

.cardInvoiceDesc {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 400px;
  margin-left: 50px;
  border: none;
  margin-top: 30px;
}

.tnc {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  padding-left: 16vh;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 45px;
}

.tncDesc {
  font-family: "Lato", sans-serif;
  padding-left: 22vh;
  font-size: 12px;
}

.tncDesc2 {
  font-family: "Lato", sans-serif;
  padding-left: 22vh;
  font-size: 12px;
}

.totalAmt {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding-right: 70px;
  padding-top: 25px;
  font-size: 28px;
  padding-left: 15px;
  position: relative;
}

.greatTotal {
  font-size: 45px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #2d4777;
  padding-top: 40px;
  padding-right: 120px;
  position: relative;
  top: 20px;
}

.cardInvoiceNo {
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 165vh;
  height: 80px;
  border: none;
  padding-top: -10px;
  margin-top: 40px;
  margin-left: 15vh;
}

.LeftPic {
  padding-top: 5px;
  width: 60px;
  height: 40px;
  cursor: pointer;
  padding-left: 20px;
  transition: transform 0.3s;
}

.LeftPic:hover {
  padding-top: 5px;
  width: 63px;
  height: 43px;
  cursor: pointer;
  padding-left: 20px;
  transform: scale(1.1);
}

.photobank {
  width: 110px;
  height: 35px;
  padding-left: 20px;
  cursor: pointer;
  margin-top: 33px;
}

.automatedContainer {
  border-radius: 10px;
  width: 400px;
  background-color: #2d4777;
  height: fit-content;
  padding: 15px;
  margin-left: 53px;
  margin-top: 15px;
  margin-bottom: 35px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s ease;
}

.automatedContainer:hover {
  border-radius: 10px;
  width: 400px;
  background-color: #2d4777;
  height: fit-content;
  padding: 15px;
  margin-left: 53px;
  margin-top: 15px;
  margin-bottom: 35px;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

.automatedContainer p {
  color: #fff;
}

.automatedContainer p span {
  color: #fff;
  margin-left: 40px;
}

.linkedWord {
  margin-left: 55px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  margin-bottom: -10px;
  margin-top: 30px;
}

.BankName {
  color: white;
  font-size: 20px;
}

.AccNumHashed {
  flex-grow: 1;
  color: #fff;
}

.buttonPayHis {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 5vh;
  transition: transform 0.3s ease;
}

.buttonPayHis:hover {
  border: white 1px solid;
  font-size: 15px;
  background-color: #2d4777;
  color: #fff;
  border-color: #fff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  width: 150px;
  transform: scale(1.07);
}

.dis {
  padding-left: 20px;
  margin-left: 40px;
  margin-right: 20px;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

.payment-btn-container-in-profile {
  display: flex;
  justify-content: center;
  margin-left: 8vh;
}

.view-invoice-btn-in-profile {
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #2d4777;
  color: white;
  margin-right: 1vh;
  font-size: 13px;
}

.view-payment-history-btn-in-profile {
  padding: 6px;
  border: none;
  border-radius: 6px;
  background-color: #2d4777;
  color: white;
  font-size: 13px;
}

.view-payment-history-btn-in-profile:hover,
.view-invoice-btn-in-profile:hover {
  background-color: #80d1d5;
  color: black;
  border: none;
}