.CompletedProjectTab {
  position: relative;
  display: flex;
  color: #2d4777;
  background-color: #fdfaf3;
  height: auto;
  width: 300px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 25%;
}

.content .DetailsType,
.content .Details {
  width: 50%;
  color: #2d4777;
  font-weight: 500;
  font-size: 16px;
}

.Details div {
  width: 90%;
  height: auto;
  text-align: center;
  background-color: #80d1d5;
  color: #fdfaf3;
  border-radius: 10px;
  font-weight: 700;
}

.TabBtn {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  color: #fdfaf3;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
}

.RateBtn {
  width: 50%;
  background-color: #2d4777;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.PayBtn {
  width: 50%;
  color: #fdfaf3;
  background-color: #80d1d5;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  padding: 10px;
}
.PayBtn:hover,
.RateBtn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
