.ReviewForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(126, 112, 112, 0.5); /* Background color for the overlay */
  width: 400px;
  padding: 20px;
  background-color: white; /* Background color for the form */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
}

.rate1 {
  margin-top: 8%;
}

.rate1:first-child {
  font-size: 24px;
  margin-top: 0;
}

.rate1:nth-child(2) {
  margin-top: 0;
}

textarea {
  width: 100%;
  resize: vertical;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #2d4877;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
