.search {
    width: 25%;
    height: 5%;
    border-radius: 10px 10px 0 0;
    color: black; /* Default text color */
    background-color: #FDFAF3;
    font-size: 16px;
}

.search::placeholder{
    color: #BCBCBC; 
}

.category-bar {
  position: relative;
  display: inline-block;
}

.category {
    width: 17%;
    height: 5%;
    color: black;
}

.all-categories {
  color: #BCBCBC; 
}

.category-bar img{
  position: absolute;
  top: 5%;
  right: 5px; 
}

.search-button {
    width: 5%;
    height: 5%;
    border-radius: 0 0 10px 10px;
    background-color: #80D1D5;
}