.favorite-container {
  width: 100%;
  padding: 0 10%;
}
.favorite-container .favorite-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.favorite-jobs-container {
  display: flex;
  flex-direction: column;
  padding: 3% 10%;
  min-height: 60vh;
}
.favorite-container .back-btn {
  margin-top: 3vh;
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: #2d4777;
  transition: transform 0.3s;
  padding: 0;
}
.favorite-container .back-btn a {
  text-decoration: none;
  color: #2d4777;
}
.favorite-container .back-btn .bi-chevron-left {
  margin-right: 5px;
}
.favorite-container .back-btn:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #2d4777;
}
.favorite-container .back-btn:active {
  background-color: transparent !important;
  color: #223559 !important;
}
.favorite-container .favorite-title {
  color: #2d4777;
}
