.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-flower-pic {
  width: 100%;
  height: 800px;
}

.login-background1 {
  background-color: #fff !important;
  background-size: cover; /* Ensure the entire image is visible */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Set minimum height to fill the viewport */
  display: flex; /* Display flex to center content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white; /* Set text color to white (optional) */
}

.login-background12 {
  background-image: url("/src/assets/images/General/LOGIN.png");
  background-size: cover; /* Ensure the entire image is visible */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */
  min-height: 100vh; /* Set minimum height to fill the viewport */
  display: flex; /* Display flex to center content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white; /* Set text color to white (optional) */
}

.login-background1 .hi {
  margin-left: 80px;
  background-color: transparent;
}


.login-button-container input[type="submit"] {
  width: 90%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  background-color: #80d1d6; /* Button background color */
  color: #2d4777; /* Button text color */
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold; /* Bold */
  font-size: 24px;
  text-align: center;
}

.login-button-container input[type="submit"]:hover {
  background-color: white; /* Button background color on hover */
  font-family: "Lato", sans-serif;
  color: #2d4777;
}

.login-form-container {
  width: 350px; /* Adjust width */
  height: 530px; /* Adjust height */
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2d4777;
  border-radius: 30px;
  position: absolute; /* Position the form absolutely */
  top: 20px; /* Adjust the position on the y-axis */
  left: 167px; /* Adjust the position on the x-axis */
}

.login-form2-container {
  width: 350px; /* Adjust width */
  height: 550px; /* Adjust height */
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2d4777;
  border-radius: 30px;
  position: absolute; /* Position the form absolutely */
  top: 20px; /* Adjust the position on the y-axis */
  left: 167px; /* Adjust the position on the x-axis */
}

.login-title {
  color: white; /* White color */
  font-weight: bold; /* Bold */
  font-family: "Lato", sans-serif; /* Lato font */
  font-size: 26px;
  text-align: center;
  margin-top: 15px;
}

.login-title2 {
  color: Black; /* White color */
  font-weight: bold; /* Bold */
  font-family: "Lato", sans-serif; /* Lato font */
  font-size: 26px;
  text-align: center;
  margin-top: 15px;
}

.login-title3 {
  color: Black; /* White color */
  font-weight: bold; /* Bold */
  font-family: "Lato", sans-serif; /* Lato font */
  font-size: 26px;
  text-align: center;
  margin-top: 50px;
}

.login-input-container {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  height: 35px;
}

.login-usernameInput {
  padding-left: 50px;
}

.login-input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.9); /* White color with 78% transparency */
  font-family: "Lato", sans-serif; /* Inter font */
  transition: top 0.2s, font-size 0.2s, color 0.2s; /* Add transition for smooth animation */
}

.login-input-container input {
  width: 95%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid white; /* Bottom border */
  background-color: transparent; /* Transparent background */
  color: white; /* White text color */
  font-family: inherit; /* Inherit font family from label */
  font-size: inherit; /* Inherit font size from label */
}

.login-input-container input:focus + label,
.login-input-container input:not(:placeholder-shown) + label {
  top: -20px; /* Move label up when input is focused or has content */
  font-size: 14px; /* Decrease font size when label moves up */
  color: white; /* Change color when label moves up */
}

.login-checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.login-checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  width: 17px; /* Adjust width */
  height: 17px;
  border-radius: 5px;
  margin-top: 12px;
}

.login-checkbox-container label {
  color: white; /* Change to your desired text color */
  font-family: "Lato", sans-serif;
}

/* Adjust the position of the text after the checkbox */
.login-checkbox-container label {
  margin-top: 8px; /* Adjust the top margin as needed */
}

.login-remember-label {
  color: rgba(255, 255, 255, 0.7); /* White color with 78% transparency */
  font-family: "Lato", sans-serif; /* Inter font */
}

.login-usernameInput::placeholder {
  color: rgba(255, 255, 255, 0.7); /* White color with 78% transparency */
}

.login-forgot-password {
  margin-top: 10px; /* Adjust margin as needed */
  font-family: "Lato", sans-serif; /* Lato font */
  color: #ffc107; /* FFC107 color code */
  font-size: 14px;
  text-decoration: underline;
  margin-left: 20px;
  cursor: pointer;
}

.login-facebook-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato", sans-serif; /* Apply Lato font */
  font-size: 16px; /* Adjust font size as needed */
  color: #000000; /* Set font color */
  width: 150px;
  height: 40px;
  background-color: white; /* Set background color */
  border-radius: 12px; /* Apply border radius */
  padding: 7px 25px; /* Apply padding */
}

.login-facebook-button img {
  margin-right: 10px; /* Adjust margin as needed */
}

.login-button-group {
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
}

.login-hr-left {
  flex-grow: 0.5; /* Grow to fill available space */
  border-top: 1px solid white;
  margin-left: 50px;
  margin-right: 20px;
}

.login-hr-right {
  flex-grow: 0.5; /* Grow to fill available space */
  border-top: 1px solid white;
  margin-left: 20px;
  margin-right: 50px;
}

.login-hRules {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -100px;
  border-top: 1px solid white;
  background-color: white;
}

.login-options {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.login-normal-text {
  text-align: center; /* Center the text horizontally */
  font-weight: regular; /* Apply bold font weight */
  color: white; /* Set the color of "Not a member?" to white */
  margin-top: 15px; /* Adjust margin as needed */
  font-family: "Lato", sans-serif; /* Lato font */
}

.login-transparent-text {
  text-align: left; /* Center the text horizontally */
  font-weight: regular; /* Apply bold font weight */
  color: rgba(255, 255, 255, 0.8);
  margin-top: 15px; /* Adjust margin as needed */
  font-family: "Lato", sans-serif; /* Lato font */
  margin-left: 20px;
  margin-bottom: 20px;
}

.login-sign-up {
  color: #ffc107; /* Set the color of "Sign up now" to yellow */
  text-decoration: underline; /* Underline "Sign up now" */
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.login-button-container1 input[type="submit"] {
  width: 90%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: #80d1d6; /* Button background color */
  color: #2d4777; /* Button text color */
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold; /* Bold */
  font-size: 22px;
  text-align: center;
}

.login-button-container1 input[type="submit"]:hover {
  background-color: white; /* Button background color on hover */
  font-family: "Lato", sans-serif;
  color: #2d4777;
}

.login-button-container2 input[type="submit"] {
  width: 90%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #80d1d6; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold; /* Bold */
  font-size: 22px;
  text-align: center;
}

.login-button-container2 input[type="submit"]:hover {
  background-color: white; /* Button background color on hover */
  font-family: "Lato", sans-serif;
  color: #2d4777;
}

.login-button-container3 input[type="submit"] {
  width: 200px;
  padding: 10px;
  margin-right: 30px;
  margin-top: 100px;
  border: none;
  border-radius: 10px;
  background-color: #2d4777; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: bold; /* Bold */
  font-size: 22px;
  text-align: center;
}

.login-button-container3 input[type="submit"]:hover {
  background-color: #80d1d6; /* Button background color on hover */
  font-family: "Lato", sans-serif;
  color: black;
}

.login-forgot-container {
  width: 350px; /* Adjust width */
  height: 350px; /* Adjust height */
  padding: 20px;
  background-color: #2d4777;
  border-radius: 30px;
  position: absolute; /* Position the form absolutely */
  top: 120px; /* Adjust the position on the y-axis */
  left: 167px; /* Adjust the position on the x-axis */
  margin-top: 100px;
}
.login-aboutUs-container {
  display: grid;
  grid-template-columns: 0.4fr 1.2fr;
  width: 100%;
  height: 290px;
}
.login-code-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
}

.login-codeInput {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin-right: 5px;
  margin-left: 20px;
  background-color: #2d4777;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.login-radio-container {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.login-radio-container input[type="radio"] {
  margin-right: 5px;
}

.login-radio-container label {
  margin-right: 15px;
}

.login-logo-text {
  font-size: 70px;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-welcome-text {
  font-size: 30px;
  color: #2d4777;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 15px 20px;
  border-radius: 25px;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  transition: opacity 0.5s;
  opacity: 0;
  width: 300px;
}

.login-notification.show {
  opacity: 1;
}

.login-notification-logo {
  margin-left: 80px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.login-grid-item p {
  background-color: #ffffff; /* Background color for grid items */
  width: 100%;
}

.login-grid-item1 {
  background-color: #fdfaf3; /* Background color for grid items */
  max-width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: #000000; /* Example color */
  font-size: 16px; /* Example font size */
  line-height: 1.5; /* Example line height */
  margin: 0;
}

.login-grid-item2 {
  background-color: #80d1d5;
  max-width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: #000000; /* Example color */
  font-size: 16px; /* Example font size */
  line-height: 1.5; /* Example line height */
  margin: 0;
}

.login-grid-item3 {
  background-color: #fdfaf3; /* Background color for grid items */
  max-width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  color: #000000; /* Example color */
  font-size: 16px; /* Example font size */
  line-height: 1.5; /* Example line height */
  margin: 0;
}

.login-textfield {
  margin-top: 200px;
  background-color: #fff;
  height: 350px;
  width: 100%;
  display: flex; /* Use flexbox for flexible layout */
  justify-content: space-between;
}

.login-aboutfield {
  padding-left: 50px;
  padding-top: 15px;
  height: 200px;
  width: 100%;
}

.login-contactfield {
  padding-top: 15px;
  height: 200px;
  width: 1500px;
  padding-right: 50px;
}

.login-big-text {
  text-align: left; /* Center the text horizontally */
  font-weight: bold; /* Apply bold font weight */
  color: white;
  font-family: "Lato", sans-serif; /* Lato font */
  font-size: 25px;
  margin-bottom: 50px;
}

.login-small-text {
  text-align: left; /* Center the text horizontally */
  color: white;
  font-family: "Lato", sans-serif; /* Lato font */
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-big-text2 {
  text-align: left; /* Center the text horizontally */
  color: #9fcdfe;
  font-family: "Lato", sans-serif; /* Lato font */
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-new-textfield {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #2d4777;
  width: 100%;
  justify-content: space-between;
}

.login-options2 {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 30px;
}

.login-text {
  color: white;
}
