/* News Feed */
.news-feed {
}

.news-feed-item {
}

.news-feed-item-content {
  white-space: pre-wrap; /* or 'pre-line' depending on your needs */
}

/* Status Bar */
.news-feed-item .status-bar .profile-img {
  max-width: 50px !important;
  margin-right: 20px !important;
}

.status-bar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}
