.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  margin: 0;
}

.side-nav {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.news-feed {
  flex: 0 1 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
