.completed-jobs-container {
  width: 100%;
  margin-bottom: 8vh;
  margin-top: 4vh;
}
.completed-jobs-container .jobs-list {
  display: flex;
  overflow-x: auto;
  justify-content: start;
  padding: 5px 10vw 5px 10vw;
}
.completed-jobs-container .jobs-list .no-projects {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  color: red;
}
