.CompletedProjectTab {
  position: relative;
  display: flex;
  color: #2d4777;
  background-color: #fdfaf3;
  height: auto;
  width: 300px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
  box-shadow: 10px 5px 15px 3px rgba(0, 0, 0, 0.4);
  overflow: hidden; 
  transition: transform 0.2s ease-in-out; 
}

.CompletedProjectTab:hover {
  transform: translateY(-5px);
}

.CompletedProjectTab .projectDetails {
  width: 100%;
  white-space: nowrap;
}

.CompletedProjectTab .content {
  display: flex;
  flex-direction: row;
  padding: 8%;
  margin-bottom: 15%;
}

.CompletedProjectTab .content .DetailsType,
.CompletedProjectTab .content .Details {
  width: 50%;
  color: #2d4777;
  font-size: 16px;
}

.CompletedProjectTab .DetailsType {
  height: auto;
  border-radius: 10px;
  font-weight: 700;
}

.CompletedProjectTab .TabBtn {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  border: none;
  color: #fdfaf3;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
}

.CompletedProjectTab .RateBtn {
  width: 50%;
  background-color: #2d4777;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

.CompletedProjectTab .PayBtn {
  width: 50%;
  color: #fdfaf3;
  background-color: #80d1d5;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  padding: 10px;
}
.CompletedProjectTab .PayBtn:hover,
.CompletedProjectTab .RateBtn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.RateNotification {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
  z-index: 1000; /* Ensure it is on top of other elements */
}
