.ProjectTab {
  position: relative; /* Add this line */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 2%;
  transition: box-shadow 0.3s ease;
}

.SaveIcon {
  position: absolute; /* Add this line */
  top: 5px; /* Adjust the value as needed */
  right: 5px; /* Adjust the value as needed */
  cursor: pointer;
  color: #2d4877;
  border: 1px solid #2d4877;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.ProjectTab:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.LeftContent {
  display: flex;
  align-items: center;
}

.CompanyLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.ProjectTitle {
  margin: 0;
  color: #2d4877;
  font-weight: 700;
}

.CompanyInfo {
  margin: 0;
  color: #bcbcbc;
}

.CompanyName {
  color: #000000;
  font-weight: 700;
}

.Category {
  color: #80d1d5;
}

.Filters {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.FilterBadge {
  margin-right: 5px;
  background-color: #80d1d5 !important;
  color: #fdfaf3 !important;
  border-radius: 5px;
}

.RightContent {
  display: flex;
  align-items: center;
}

.SaveIcon.saved {
  color: #fdfaf3;
  background-color: #2d4877;
}

.SaveIcon:hover {
  color: #fdfaf3;
  background-color: #2d4877;
}

.TimePosted {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  margin-right: 10px;
  font-size: 12px;
  color: #bcbcbc;
}
