.ProjectPostedUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.ProjectPostedUser:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.LeftContent {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.ProfilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 1rem;
}

.UserDetails {
  flex: 1; /* Take remaining space */
}

.Username {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2d4877;
}

.Filters, .ViewFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add space between the badges */
}

.FilterBadge {
  background-color: #80d1d5 !important; /* Override bootstrap background color */
  color: #fdfaf3 !important; /* Override bootstrap text color */
  border-radius: 5px;
  margin-bottom: 5px; /* Add space at the bottom of the badge */
}

.details-button {
  background-color: #2d4877 !important;
  color: #fdfaf3;
  border-radius: 5px !important;
  border: none !important;
  padding: 5px 10px !important;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
}

.details-button:hover {
  background-color: #80d1d5 !important;
  border-color: #80d1d5 !important;
}

.Biography {
  margin-top: 10px;
  color: #2D4877;
  font-size: 16px;
  font-weight: 400;
}

.RightContent {
  display: flex;
  justify-content: space-between; /* Add space between elements */
  width: 100%;
}

.ActionButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ConfirmBtn, .RemoveBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.5rem;
}

.ConfirmBtn {
  background-color: #2d4877;
  color: white;
}

.ConfirmBtn:hover {
  background-color: #80d1d5;
}

.ActionButtons .RemoveBtn {
  background-color: grey;
  color: white;
}
.ActionButtons .RemoveBtn:hover {
  background-color: #ff7f7f;
}
