.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's above other content */
}

.ReviewForm {
  position: fixed;
  display: flex; 
  flex-direction: column; 
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: white; /* Background color for the form */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
}

.close {
  color: #aaa;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rate1 {
  font-size: 24px;
  margin-top: 20px;
}

.rating-section p,
.feedback-section p {
  margin: 10px 0 5px;
  font-weight: bold;
}

.rating-section, .feedback-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}


.ReviewForm textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ReviewForm button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2d4877;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ReviewForm button:hover {
  background-color: #0056b3;
}

.ReviewForm button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
