.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('background.png');
  background-size: cover; /* This ensures the image covers the entire background */
  background-position: center; /* Center the background image */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 300px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 30px;
  margin-bottom: 50px;
}

.title {
  font-weight: bold;
  font-size: 45px;
  font-family: 'Lato',sans-serif;
  color: black;
}

.desc {
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Lato',sans-serif;
  color: black;
  margin-bottom: 30px;
}

.descSecond {
  margin-top: -10px;
  font-size: 20px;
  font-family: 'Lato',sans-serif;
  color: black;
}

.button {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 150px;
}

.button:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  width: 160px;
}

.greet {
  font-size: 23px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  color: #2D4777;
  margin-left: 20px;
}

.price {
  margin-bottom: 42px;
  margin-left: 10px;
}

.currency {
  color: black;
  font-size: 20px;
  font-family: 'Lato',sans-serif;
}

.amount {
  color: black;
  font-size: 70px;
  font-family: 'Lato',sans-serif;
  margin-top: 40px;
}

.alert {
  color: black;
  font-size: 12px;
  margin-top: -10px;
  margin-left: 20px;
  font-family: 'Lato',sans-serif;
}

.chooseTitle{
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.cardChoose{
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 220px;
  margin: 0 auto; /* Center the card */
  border: none;
  flex: 1;
  margin: 0 25px; 
  margin-top: 70px;
  color: #2D4777;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.cardContainer {
  display: flex;
  justify-content: space-between; 
}

.picFpx {
  width: 200px;
  height: 80px;
  margin-top: 30px;
}

.picEwallet {
  margin-top: 30px;
}

.picCard {
  margin-top: 50px;
}

.fpxWord {
  padding-top: 30px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
}

.cardWord {
  padding-top: 43px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
}

.cardEwallet {
  font-family: 'Lato',sans-serif;
  font-weight: bold;
}

.parallel {
  display: flex;
  justify-content: space-between; 
}

.another {
  cursor: pointer;
  margin-left: 40px;
  text-decoration: underline;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: 'Lato',sans-serif;
}

.another:hover {
  color: #2D4777;
  font-weight: bold;
  font-family: 'Lato',sans-serif;
}

.another1 {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  text-align: center;
  color: #2D4777;
  margin-top: 30px;
  font-family: 'Lato',sans-serif;
}

.another1:hover {
  color: #2D4777;
  font-weight: bold;
  font-family: 'Lato',sans-serif;
}

.pic-Container{
  display: flex;
  justify-content: space-between;
}

.fpxTitle {
  color: black;
  font-family: 'Lato',sans-serif;
  margin-top: 3px;
  font-weight: bold;  
}

.cardFPX {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 330px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 30px  
}

.redirect {
  color: black;
  text-align: center;
  font-size: 30px;
  margin-top: 300px;
}


.mobile {
  color: black;
  font-family: 'Lato',sans-serif;
  text-align: center;
  font-size: 20px;
}

.pin {
  color: black;
  font-family: 'Lato',sans-serif;
  text-align: center;
  font-size: 20px;
}

.mobileinput {
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  font-family: 'Lato',sans-serif;
  width: 200px;
  text-align: center;
  margin-left: -110px;
  margin-top: -20px;
  border-color: #2D4777;
}

.pininput {
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  font-family: 'Lato',sans-serif;
  width: 200px;
  text-align: center;
  margin-left: -100px;
  margin-bottom: 30px;
  margin-top: -20px;
  border-color: #2D4777;

}
.titleLink {
  color: black;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
}

.photo {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 100px;
  cursor: pointer;
  margin-top: 60px;
}

.cardinput {
  border-radius: 6px;
  padding: 10px; /* Adjust padding for all sides */
  font-family: 'Lato', sans-serif;
  width: 60%; /* Make width 100% to fill container */
  margin: 10px 0; 
  border-color: #2D4777;
  box-sizing: border-box; 
}

.cardinput1 {
  border-radius: 6px;
  padding: 10px; /* Adjust padding for all sides */
  font-family: 'Lato', sans-serif;
  width: 60%; /* Make width 100% to fill container */
  margin: 10px 0; 
  border-color: #2D4777;
  box-sizing: border-box;
  margin-left: 55px; 
}

.cardinput2 {
  border-radius: 6px;
  padding: 10px; /* Adjust padding for all sides */
  font-family: 'Lato', sans-serif;
  width: 60%; /* Make width 100% to fill container */
  margin: 10px 0; 
  border-color: #2D4777;
  box-sizing: border-box;
  margin-left: 40px; 
}

.cardinput3 {
  border-radius: 6px;
  padding: 10px; /* Adjust padding for all sides */
  font-family: 'Lato', sans-serif;
  width: 60%; /* Make width 100% to fill container */
  margin: 10px 0; 
  border-color: #2D4777;
  box-sizing: border-box;
  margin-left: 10px; 
}

.cardinput4 {
  border-radius: 6px;
  padding: 10px; /* Adjust padding for all sides */
  font-family: 'Lato', sans-serif;
  width: 60%; /* Make width 100% to fill container */
  margin: 10px 0; 
  border-color: #2D4777;
  box-sizing: border-box;
  margin-left: 70px; 
}

.cardCard {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 500px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 30px
}

.cardSuccessful {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 400px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 30px
}

.cardVar {
  color: #2D4777;
  margin-right: 100px;
  font-size: 17px;
  font-weight: bold;
}

.button1 {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  margin-top: 50px;
  width: 250px;
}


.button1:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  width: 250px;
}

.button2 {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 300px;
}

.button2:hover {
  border: white 1px solid;
  font-size: 16px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
 
}

.button3 {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-left: 50px;
  margin-top: 300px;
}

.button3:hover {
  border: white 1px solid;
  font-size: 16px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  
}

.button4-CTN {
  text-align: center;
  margin-top: 50px;
}


.tick {
 width: 130px;
 height: 130px;
 margin-top: 20px;
 margin-left: 40px;
 margin-bottom: 20px;
}

.successMsg {
  font-family: 'Lato',sans-serif;
  margin-left: 10px;
  margin-top: 45px;
  font-size: 27px;
  color: #2D4777;
  font-weight: bold;
}

.cardInvoiceList {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1200px;
  height: 40px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 30px;
}

.invoiceTitle{
  display: flex;
  justify-content:space-between;
  font-family: 'Lato',sans-serif;
  color: #2D4777;
  font-weight: bold;
  padding-left: 120px;
  padding-right: 100px;
  font-size: 22px;
}

.invoiceDesc {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato',sans-serif;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.invoiceDesc2 {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato',sans-serif;
  color: #2D4777;
  
}

.invoiceDesc2 p {
  margin: 0;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: black;
}

.invoiceDesc2 p span {
  font-weight: bold;
  margin-left: 5px;
  font-family: 'Lato', sans-serif;
  color: #2D4777;
  font-size: 22px;
}

.descColumn {
  width: 1200px; 
  font-family: 'Lato',sans-serif;
  color: #2D4777;
  font-size: 22px;
}
.priceColumn {
  width: 300px; 
  font-family: 'Lato',sans-serif;
  color: #2D4777;
  font-size: 22px;
}

.descContent {
  font-family: 'Lato',sans-serif;
  color: black;
  width: 300px; 
}

.priceContent{
  font-family: 'Lato',sans-serif;
  color: black;
  width: 120px; 
}

.back {
  padding-top: 30px;
  padding-left: 30px;
  cursor: pointer;
  font-family: 'Lato',sans-serif;
}

.cardPendingPayment {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 120px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-left: 50px;
  margin-top: 50px;
  font-family: 'Lato',sans-serif;
}

.paymentHistory {
  padding-top: 50px;
  padding-left: 55px;
  font-family: 'Lato',sans-serif;
  font-size: 30px;
}

.pendingTitle {
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #2D4777;
}

.pendingDesc {
  font-family: 'Lato',sans-serif;
  font-size: 14px;
  color: #2D4777;
}

.pendingPrice {
  font-family: 'Lato',sans-serif;
  color: #2D4777;
  font-weight: bolder;
}

.buttonDown {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 150px;
  margin-bottom: 50px;
}

.buttonDown:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  width: 180px;
}

.buttonView {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 232px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.buttonView:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  width: 270px;
}

.buttonPay {
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  border: black 1px solid;
  color: #2D4777;
  font-family: 'Lato',sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  width: 220px;
  margin-left: 50px;
}

.buttonPay:hover {
  border: white 1px solid;
  font-size: 18px;
  background-color: #2D4777;
  color: #fff;
  border-color: #fff;
  font-family: 'Lato',sans-serif;
  text-decoration: none;
  width: 230px;
}

.invoiceHolder {
  margin-top: 30px;
  margin-left: 50px;
  background-color: #2D4777;
  font-family: 'Lato',sans-serif;
  width: 600px;
  height: 280px;
  border-radius: 40px;
  padding-left: 40px;
  padding-top: 30px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

.invoiceDetails {
  width: 500px;
  height: 280px;
  background-color: #2D4777;
  border-radius: 40px;
  padding-left: 40px;
  padding-top: 30px;
  color: #fff;
  font-family: 'Lato',sans-serif;
  margin-right: 70px;
  margin-top: 30px;
}

.invoiceAmount {
  color: black;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 260px;
  height: 100px;
  font-family: 'Lato',sans-serif;
}

.Amount {
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.Amount span {
  font-family: 'Lato',sans-serif;
  color: #2D4777;
  font-size: 35px;

}

.date {
  margin-top: -21px;
  font-size: 12px;
}

.name {
  margin-top: 0px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -10px;
}

.location {
  font-family: 'Lato',sans-serif;
  margin-top: -10px;
}

.cardInvoiceDesc {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 400px;
  margin-left: 50px;
  border: none;
  margin-top: 30px;
}

.tnc {
  margin-top: 50px;
  font-family: 'Lato',sans-serif;
  padding-left: 50px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}

.tncDesc {
  font-family: 'Lato',sans-serif;
  padding-left: 50px;
  font-size: 12px;
}

.tncDesc2 {
  font-family: 'Lato',sans-serif;
  padding-left: 50px;
  font-size: 12px;
}

.totalAmt {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-right: 70px;
  padding-top: 10px;
  font-size: 28px;
  padding-left: 35px;
  position: relative; /* Add positioning */
}

.greatTotal {
  font-size: 45px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #2D4777;
  padding-top: 20px; /* Adjust padding-top */
  padding-right: 70px; /* Adjust padding-right */
  position: relative; /* Add positioning */
  top: 20px; /* Adjust the vertical position */
}



.cardInvoiceNo {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1210px;
  height: 40px;
  margin: 0 auto; /* Center the card */
  border: none;
  margin-top: 40px;
  margin-left: 50px;
}

.backPic {
  width: 40px;
  height: 30px;
  padding-left: 20px;
  padding-top: 50px;
  cursor: pointer;
}

.photobank {
  width: 110px;
  height: 35px;
  padding-left: 20px;
  cursor: pointer;
  margin-top: 33px;
}