.job-details-page-container .back-btn {
  margin-top: 3vh;
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: #2d4777;
  transition: transform 0.3s ease;
}
.job-details-page-container .back-btn a {
  text-decoration: none;
  color: #2d4777;
}
.job-details-page-container .back-btn .bi-chevron-left {
  margin-right: 5px;
}
.job-details-page-container .back-btn:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #2d4777;
}
.job-details-page-container .back-btn:active {
  background-color: transparent !important;
  color: #223559 !important;
}
.job-details-body {
  padding: 0vh 8vw 0vh 8vw;
}
.job-details-body p {
  margin-bottom: 15px;
}
.job-title-block {
  display: flex;
  margin-bottom: 20px;
}
.job-title-block img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.job-title-block .title-texts {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}
.job-title-block .title-texts h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #2d4777;
}
.job-title-block .title-texts p {
  margin-bottom: 0;
}
.job-details-page-container .title-right .bookmark {
  margin-bottom: 10px;
}
.job-details-page-container .title-right .bookmark:hover {
  cursor: pointer;
}
.job-details-page-container .title-right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.job-details-page-container .title-right .bi {
  color: #2d4777;
}
.job-details-body .Filters {
  margin-bottom: 20px;
}
.job-details-body .skill-list,
.job-details-body .uploaded-files-list {
  list-style: disc;
  padding-left: 32px;
  margin: 10px 0px 10px 0px;
}
.job-details-body .uploaded-files:hover {
  color: #2d4777;
  cursor: pointer;
  text-decoration: underline;
}
.job-details-body .job-desc,
.job-details-body .duration,
.job-details-body .deadline,
.job-details-body .budget,
.job-details-body li,
.job-details-body .contact,
.job-details-body .additional,
.job-details-body .big-deadline {
  font-weight: 300;
}
.job-details-body .button-group {
  display: block;
  color: #8590a4;
}
.job-details-body .button-group .applying-text {
  color: white;
  background-color: #a0a5ae;
  border: none;
  margin-right: 10px;
}
.job-details-body .button-group .applying-text:hover {
  background-color: #828892;
  cursor: pointer;
}
.job-details-body .button-group .accept {
  color: white;
  background-color: #2d4777;
  border: none;
  margin-right: 10px;
}
.job-details-body .button-group .accept:active {
  background-color: #223559;
}
.job-details-body .button-group .chat {
  color: #2d4777;
  background-color: transparent;
  border: 1px solid #2d4777;
}
.job-details-body .button-group .chat:active {
  border: 1px solid #223559;
  color: #223559;
}

.job-details-page-container .button-group .to-job-list {
  text-align: end;
}
.job-details-page-container .button-group .to-job-list .to-job-list-btn {
  background-color: transparent;
  border: none;
  color: #2d4777;
  transition: transform 0.3s ease;
}
.job-details-page-container .button-group .to-job-list .to-job-list-btn:hover {
  transform: scale(1.1);
}
