.ReviewProjectPage {
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.ReviewBackBtn {
  margin-top: 3vh !important;
  width: 65%;
  margin: 0 auto; /* Center the ReviewBackBtn */
  display: flex;
}

.BackBtn {
  align-items: flex-start;
  background-color: transparent;
  border: none;
  color: #2d4777;
  transition: transform 0.3s;
}

.BackBtn a {
  text-decoration: none;
  color: #2d4777;
}
.BackBtn .bi-chevron-left {
  margin-right: 5px;
}
.BackBtn:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #2d4777;
}
.BackBtn:active {
  background-color: transparent !important;
  color: #223559 !important;
}
.BackBtn:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #2d4777;
}
.BackBtn:active {
  background-color: transparent !important;
  color: #223559 !important;
}

.Reviewheader {
  width: 65%;
  margin: 0 auto; /* Center the Reviewheader */
  text-align: center;
  margin-bottom: 15px;
}

.ProjectPostedList,
.InProgressList,
.CompletedProjectList {
  height: 300px;
  display: flex;
  overflow-x: auto;
  width: 70vw; /* Adjust as needed */
  margin: 0 auto 40px;
  border-radius: 10px;
  padding: 0 20px; /* Add padding to avoid sticking to edges */
  justify-content: start;
  align-items: center; /* Align items vertically */
}

.ProjectPostedList .nothing,
.InProgressList .nothing,
.CompletedProjectList .nothing {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto; /* Add this line to center the .nothing element */
  margin-right: auto; /* Add this line to center the .nothing element */
}

.ProjectPostedTab,
.InProgressProjectTab,
.CompletedProjectTab {
  flex: 0 0 auto;
  width: 300px; /* Fixed width for each tab */
  margin: 10px 35px 10px 0;
}

/* Hide the scrollbar */
.ProjectPostedList::-webkit-scrollbar,
.InProgressList::-webkit-scrollbar,
.CompletedProjectList::-webkit-scrollbar {
  display: none;
}
